NEXT_PUBLIC_CDN_DOMAIN="cdn.********.com"
NEXT_PUBLIC_CDN_DIRECTORY="/"
CONTACT_FORM_API_URI="https://api.backend-domain.com/contact"
KINDERGARTENS_FORM_API_URI="https://api.backend-domain.com/kindergartens-contact"
